:root{
    --background: #009DD9;
    --fontcol: #FFF;
    --yellow: #FFF281;
    --dark: #2C2C2C;
    --fontfam: 'Poppins', sans-serif;
}
.svg-lg{
    display: none;
}
.icons{
    background-color: hsla(0, 33%, 98%, 0.574);
    border-radius: 20px;
    margin: 20px auto;
    padding: 25px;
    width: fit-content;
    display: flex;
    gap: 5px;
    .row{
        display: flex;
        flex-direction: column;
        gap: 10px;
        .item{
            .icon{
                display: block;
            }
        }
    }
}

.showcase{
    display: flex;
    flex-direction: column;
    height: fit-content;
    .card{
        margin: 10px auto;
        width: 316px;
        .img-area{
            .desk-img{
                display: none;
            }
        }
        .description{
            background-color: var(--dark);
            margin: 0;
            text-align: center;
            padding: 5px;
        }
    }
}

@media (min-width: 900px) {
.showcase{
    display: flex;
    flex-direction: row;
    height: fit-content;
    .card{
        width: fit-content;
        .img-area{
            .mobile-img{
                display: none;
            }
            .desk-img{
                display: block;
                border-radius: 5%;
                width: 400px;
            }
        }
        .description{
           display: none;
        }
    }
}
.showcase{
    .card:hover{
        width: fit-content;
        .img-area{
            .mobile-img{
                display: none;
            }
            .desk-img{
                display: block;
                border-radius: 0;
                width: 410px;
            }
        }
        .description{
           display: block;
           width: 400px;
        }
    }
}
}
